@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:root,
*::after,
*::before,
html {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --plyr-color-main: #ff008ca4;
  --plyr-video-background: transparent;
  --plyr-badge-border-radius: 0.5rem;
}

@font-face {
  font-family: 'Cascadia';
  font-style: normal;
  font-weight: normal;
  src: url('/Cascadia.ttf');
}

pre code span {
  font-family: 'Cascadia' !important;
  width: 100%;
}

.file {
  height: 100% !important;
  overflow-y: scroll !important;
}

pre {
  width: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.8) !important;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  height: 25rem;
  overflow-x: auto;
  border-radius: 0.5rem;
}

body {
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, rgb(255, 46, 31) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(161, 87, 116) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgba(184, 41, 89, 0.726) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(165, 60, 0) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(38, 33, 175) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgba(52, 65, 52, 0.582) 0px, transparent 50%);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Poppins', 'Inter var', sans-serif;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.plyr__video-wrapper {
  -webkit-border-radius: 0.89rem;
  -moz-border-radius: 0.89rem;
  -ms-border-radius: 0.89rem;
  -o-border-radius: 0.89rem;
  border-radius: 0.89rem;
}

.plyr--video .plyr__controls {
  background-color: transparent;
  background: transparent;
}
