@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles for the entire document */
*,
:root,
*::after,
*::before,
html {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* video player */
  --plyr-color-main: #ff008ca4;
  --plyr-video-background: transparent;

  /* Dark Theme */
  --background: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, rgb(255, 46, 31) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(161, 87, 116) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgba(184, 41, 89, 0.726) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(165, 60, 0) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(38, 33, 175) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgba(52, 65, 52, 0.582) 0px, transparent 50%);
  --code-background: rgba(0, 0, 0, 0.8) !important;
  --profile-background: linear-gradient(
    to right,
    rgba(165, 60, 0, 0.6),
    rgba(29, 38, 172, 0.7)
  );
}

.rainbow {
  background-image: var(--profile-background);
}

/* Dark theme */
.dark {
  --background: radial-gradient(
      at 40% 20%,
      rgba(0, 0, 0, 0.664) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, rgba(0, 0, 0, 0.664) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgba(0, 0, 0, 0.664) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgba(0, 0, 0, 0.664) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(0, 0, 0, 0.664) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgba(0, 0, 0, 0.664) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgba(0, 0, 0, 0.664) 0px, transparent 50%);
  --code-background: rgba(26, 23, 23, 0.397) !important;
  --profile-background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
}
/* End */

/* Custom styling for video player */
.plyr--video .plyr__controls {
  background-color: transparent;
  background: transparent;
}
/* End */

@font-face {
  font-family: 'Cascadia';
  font-style: normal;
  font-weight: normal;
  src: url('/Cascadia.ttf');
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter', 'Poppins', 'Inter var', sans-serif;
  }
}

/* Font for code */
pre {
  width: 100%;
  backdrop-filter: blur(2px);
  background-color: var(--code-background);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  height: 25rem;
  overflow-x: auto;
  border-radius: 0.5rem;
}

pre code span {
  font-family: 'Cascadia' !important;
  width: 100%;
}
/* End */

/* For file className */
.file {
  height: 100% !important;
  overflow-y: scroll !important;
}

body {
  background-image: var(--background);
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End */

/* Audio Player Styling */
.audioPlayer {
  ---primary: #f40082;
  --secondary: #ffd200;
}

.forwardBackward {
  background: none;
  border: none;
  display: flex;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}

.forwardBackward:hover {
  color: var(---primary);
}



.progressBar {
  --bar-bg: #2c2c2c;
  --seek-before-width: 0;
  --seek-before-color: linear-gradient(to right, #e89157, #5c2c77);
  --knobby: #5c2c77;
  --knobby-border:#e89157
  --selectedKnobby: #32c9c3;
  appearance: none;
  background: var(--bar-bg);
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* ProgressBar - Safari */
.progressBar::-webkit-slider-runnable-track {
  appearance: none;
  background: var(--bar-bg);
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* progressBar -  FireFox */

.progressBar::-moz-range-track {
  appearance: none;
  background: var(--bar-bg);
  position: relative;
  width: 100%;
  height: 5px;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: '';
  height: 5px;
  width: var(--seek-before-width);
  background: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progressbar - FireFox */
.progressbar::-moz-range-progress {
  background: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 5px;
}

/* Knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: var(--knobby);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #e89157;
  cursor: pointer;
  position: relative;
  z-index: 3;
  margin: -5px 0 0 0;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar::active::-webkit-slider-thumb {
  background-color: var(--selectedKnobby);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* knooby - fireFox */
.progressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border: 5px solid var(--knobby-border);;
  background-color: var(--knobby);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active:-moz-range-thumb {
  background-color: var(--selectedKnobby);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.module-border-wrap {
  background: linear-gradient(to right, #e89157, #5c2c77);
  /* padding: 3px; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* End */
